---
export interface Props {
    module?: string;
}
const { module } = Astro.props;
---

<div class="command-line-terminal bg-black w-full h-full" id="container" data-module={module}></div>

<script>
    import '/node_modules/@xterm/xterm/css/xterm.css';
    import logoStr from '../utils/logo';
    import { moduleMap } from '../utils/moduleMap';
    import { Terminal } from '@xterm/xterm';
    import { FitAddon } from '@xterm/addon-fit';
    import { WebLinksAddon } from '@xterm/addon-web-links';

    const bold = (s) => `\x1b[1m${s}\x1b[0m`;
    const container = document.getElementById('container');
    if (container) {
        const module = container?.getAttribute('data-module') || 'ansible';
        const terminal = new Terminal({
            scrollback: 0
        });
        const fitAddon = new FitAddon();
        (window as any).terminal = terminal;
        terminal.loadAddon(fitAddon);
        terminal.loadAddon(new WebLinksAddon());
        terminal.open(container);
        fitAddon.fit();
        window.addEventListener('resize', () => fitAddon.fit());
        terminal.onKey((e) => {
            if (e.domEvent.key === 'c' && e.domEvent.ctrlKey) {
                terminal.writeln(bold('Exiting...'));
                setTimeout(() => {
                    terminal.dispose();
                    window.location.href = '/';
                }, 200);
            }
        });
        (async() => {
            logoStr.split('\n').forEach((line) => terminal.writeln(line));
            terminal.writeln(bold(' Press Ctrl + C to exit...'));
            terminal.writeln('');
            while(true) {
                const runModule = moduleMap[module];
                if (runModule) {
                    await runModule();
                }
            }
        })()
    }
</script>

<style is:global>
    .command-line-terminal .xterm .xterm-viewport {
        overflow: hidden !important;
        background-color: transparent !important;
    }
</style>