---
import shoteasy from '../assets/shoteasy.svg';
import fakemail from '../assets/fakemail.svg';
---


<div class="container mx-auto p-4">
    <h3 class="text-center font-semibold p-4 my-2">More Tools</h3>
    <div class="flex flex-col gap-4 justify-center">
        <div class="text-center">
            <a href="https://shoteasy.fun/" target="_blank" title="shoteasy.fun" class="inline-block text-xs p-2 rounded-md hover:bg-gray-50/10">
                <img src={shoteasy.src} class="mx-auto mb-2 w-8" />
                <p>ShotEasy</p>
            </a>
        </div>
        <div class="text-center">
            <a href="https://mail.fakeact.fun/" target="_blank" title="mail.fakeact.fun" class="inline-block text-xs p-2 rounded-md hover:bg-gray-50/10">
                <img src={fakemail.src} class="mx-auto mb-2 w-8" />
                <p>FakeMail</p>
            </a>
        </div>
    </div>
</div>
<footer class='p-4'>
    <div class='text-center text-sm text-gray-700'>
        Copyright © 2026 Fakeact
    </div>
</footer>