<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Command line fake tool, fake framework logs output" />
		<meta name="keywords" content="fake,cli,command line,logs,fakeact" />
		<title>Fakeact</title>
	</head>
	<body class="bg-black w-full h-screen">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		color: #fff;
		font-family: Geistmono,sans-serif;
	}
</style>
